[submodule "corrade"]
	path = corrade
	url = https://github.com/mosra/corrade.git
[submodule "magnum"]
	path = magnum
	url = https://github.com/mosra/magnum.git
[submodule "hexbyte-robot"]
	path = hexbyte-robot
	url = https://github.com/aj-floater/hexbyte-robot
